<?php
$collection = $block->getUserData();
?>

<?php if ($block->getPagerHtml()): ?>
<div class="order-products-toolbar toolbar bottom">
    <?php echo $block->getPagerHtml(); ?>
</div>
<?php endif?>
<div class="edit_entry">
    <table class="edit" border="1">
        <tr>
            <th><?php echo __("Name"); ?></th>
            <th><?php echo __("Age"); ?></th>
            <th><?php echo __("Designation"); ?></th>
            <th><?php echo __("Employee ID"); ?></th>
        </tr>
        <?php
            foreach ($collection as $entry) {
        ?>
            <tr>
                <td>
                    <?php echo $entry->getName(); ?>
                </td>
                <td>
                    <?php echo $entry->getAge(); ?>
                </td>
                <td>
                    <?php echo $entry->getDesignation(); ?>
                </td>
                <td>
                    <?php if (!$entry->getEmployeeId() == null) {
        echo $entry->getEmployeeId();
    } else {
        echo "NULL";
    }?>
                </td>
            </tr>
            <?php }?>
    </table>
</div>
